<div class="flex jastify-between p-2 rounded-lg {{if @isActive "bg-violet-500 text-white"}}">
  <div class="flex flex-1 w-64  jastify-center items-center">
    <div class="mr-2 {{if @isHideIcon "opacity-0"}}">
      <AppCheckIcon/>
    </div>
    <p> {{@topic.title}}</p>
  </div>
</div>